$contactsHead : (
	satellite : (0, 66px, 85px, 25px, 345px),
	stars : (-90px, 410px, 93px, 12px, 125px),
	wave1 : (-188px, 32px, 51px, 0px, 294px),
	wave2 : (-244px, 21px, 33px, 17px, 313px),
	wave3 : (-282px, 13px, 20px, 31px, 328px),
	wave4 : (-307px, 8px, 12px, 40px, 341px),
);
$spriteContactsHead: '../img/contactsHeaderIco.png';

.anim.contacts {
	@each $key, $value in $contactsHead {
		$bg-position-y: nth($value, 1);
		$width: nth($value, 2);
		$height: nth($value, 3);
		$top: nth($value, 4);
		$left: nth($value, 5);
		.#{$key} {
			display: block;
			position: absolute;
			background: url($spriteContactsHead) no-repeat;
			width: $width;
			height: $height;
			background-position: 0 $bg-position-y;
			top: $top;
			left: $left;
		}
	}
	.wave4 {
		opacity: 0;
		@include animation(wave 0.5s infinite linear);
	}
	.wave3 {
		opacity: 0;
		@include animation(wave 0.5s infinite linear 0.5s);
	}
	.wave2 {
		opacity: 0;
		@include animation(wave 0.5s infinite linear 1s);
	}
	.wave1 {
		opacity: 0;
		@include animation(wave 0.5s infinite linear 1.5s);
	}
}