@import "compass/css3";

@import "elements/about/_getHelp.scss";
@import "elements/about/_header.scss";
@import "elements/about/_animation.scss";

.doubleBlock {
	padding: 20px 0 80px 0;
	.left,
	.right {
		height: 100px;
		padding: 0 20px 0 0;
	}
	h2 {
		text-align: left;
		line-height: 80px;
	}
	border-bottom: 1px solid #eaeaea;
	p {
		font: 300 18px Calibri;
		color: #333;
	}
}