@import "compass/css3";

@import "elements/prices/_underHeader.scss";
@import "elements/prices/_priceTable.scss";
@import "elements/prices/_animation.scss";
@import "elements/prices/_additionalServicesTable.scss";
h3 {
	color: #333;
	font: 300 35px Open Sans;
	padding: 25px 0;
}
p {
	color: #777;
	font: 300 18px Open Sans;
	padding: 35px 0;
}