@import "compass/css3";

@import "elements/service/_underHeader.scss";
@import "elements/service/_orderOptions.scss";
@import "elements/service/_animation.scss";
@import "elements/service/_hiw.scss";

@import "elements/buttons/_buttonDashed.scss";

.button.dashed {
	display: inline-block;
	margin: 5px;
}
.button.livechatBig:after {
	background: url(../img/livechatPseudoService.png) no-repeat;
	width: 159px;
	height: 92px;
	bottom: 0px;
	left: 190px;
}
.buttonsWrap {
	width: 370px;
	margin: 0 auto;
}
.seo {
	padding: 0;
	h2 {
		padding: 25px 0;
	}
	.green.deepBtn {
		left: 39%;
		margin: 30px 0;
	}
}