// @require:
// $button-colors - map-list of gradient colors (top to bottom)
$button-colors: (
	green : (#79af2b, #80b533, #75a929, #7baf2f),
	red : (#f7551a, #f5571b, #ec4c0f, #f36224),
	coral : (#e44716, #f5581c, #ec4c0f, #ca3104),
);
.deepBtn {
	display: inline-block;
	margin: 15px auto;
	position: relative;
	@include box-sizing(border-box);
	@include border-radius(10px);
	padding: 0 65px;
	height: 65px;
	font: 800 23px/65px Open Sans;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	color: #fff;
	left: 32%;
	@each $key, $value in $button-colors {
		$color-top: nth($value, 1);
		$color-center-1: nth($value, 2);
		$color-center-2: nth($value, 3);
		$color-bot: nth($value, 4);
		&.#{$key} {
			background-color: $color-top;
			@include filter-gradient($color-top, $color-bot, vertical);
			@include background-image(linear-gradient(top, $color-top 0%, $color-center-1 50%, $color-center-2 51%, $color-bot 100%));
			border-bottom: 4px solid darken($color-center-2,10%);
			&:hover {
				background-color: darken($color-top,5%);
				@include filter-gradient(darken($color-top,5%), darken($color-bot,5%), vertical);
				@include background-image(linear-gradient(top, darken($color-top,5%) 0%,darken($color-center-1,5%) 50%,darken($color-center-2,5%) 51%,darken($color-bot,5%) 100%));
			}
			&:active {
				top: 3px;
				background-color: $color-bot;
				@include filter-gradient($color-bot, $color-top, vertical);
				@include background-image(linear-gradient(top, $color-bot 0%, $color-center-2 50%, $color-center-1 51%, $color-top 100%));
				border-bottom: 1px solid darken($color-center-2,10%);
			}
		}
	}
	&.red {
		margin: 30px auto;
		&:after {
			content: "";
			display: block;
			background: url(../img/mirror.png) no-repeat;
			position: absolute;
			width: 100%;
			height: 30px;
			background-size: cover;
			left: 0;
			pointer-events: none;
			bottom: -33px;
		}
	}
	&.green {
		&:after {
			content: "";
			display: block;
			background: url(../img/mirrorGreen.png) no-repeat;
			position: absolute;
			width: 100%;
			height: 30px;
			background-size: contain;
			left: 0;
			pointer-events: none;
			bottom: -33px;
		}
	}
	&.coral {
		left: 35%;
		border-bottom: 2px solid lighten(#ff672b,10%);
		@include box-shadow(inset 0px 0px 10px 0px rgba(0, 0, 0, 0.25));
		&:hover {
			@include background-image(linear-gradient(top, lighten(#e44716,2%) 0%,lighten(#f5581c,2%) 50%,lighten(#ec4c0f,2%) 51%,lighten(#ca3104,2%) 100%));
		}
		&:active {
			border-bottom: 2px solid lighten(#ff672b,10%);
			@include background-image(linear-gradient(top, lighten(#e44716,3%) 0%,lighten(#f5581c,3%) 50%,lighten(#ec4c0f,3%) 51%,lighten(#ca3104,3%) 100%));
			top:0;
			@include box-shadow(inset 0px 0px 15px 0px rgba(0, 0, 0, 0.45));
		}
	}
}