// @require:
// $buttons - map-list of buttons colors
$buttons: (
	blue: #59a7d9,
	green: #79af2b,
	red: #e24406,
);
.button {
	display: inline-block;
	margin: 0px auto;
	@include box-sizing(border-box);
	@include border-radius(3px);
	padding: 0 15px;
	font: normal 13px Open Sans;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	color: #fff;
	@include transition(background 0.3s);
	@each $key, $value in $buttons {
    	&.#{$key} {
    		background: $value;
			&:hover {
				background: lighten($value,5%);
			}
			&:active {
				background: darken($value,10%);
				@include box-shadow(inset 1px 1px 5px 0px rgba(0, 0, 0, 0.25));
			}
    	}
	}
}