@import "animate";

@include keyframes(zoom-in) {
	0% {
		@include scale(0.1);
	}
	100% {
		@include scale(1);
	}
}
@include keyframes(gray-ufo) {
	0% {
		opacity: 0;
		top: 31px;
		left: -88px;
	}
	49% {
		opacity: 0;
		top: 31px;
		left: -88px;
	}
	50% {
		opacity: 1;
		top: 31px;
		left: -88px;
	}
	100% {
		top: 131px;
		left: 22px;
	}
}
@include keyframes(black-ufo) {
	0% {
		opacity: 0;
		top: 35px;
		left: 295px;
	}
	49% {
		opacity: 0;
		top: 35px;
		left: 295px;
	}
	50% {
		opacity: 1;
		top: 35px;
		left: 295px;
	}
	100% {
		top: 135px;
		left: 195px;
	}
}
@include keyframes(lights) {
	0% {
		opacity: 0;
	}
	65% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}