$service : (
	blackufo : (0, 73px, 48px, 135px, 195px),
	earth : (-53px, 261px, 29px, 311px, 42px),
	grayUfo : (-87px, 82px, 67px, 131px, 22px),
	lightLeft : (-159px, 119px, 130px, 165px, 65px),
	lightRight : (-294px, 131px, 125px, 162px, 103px),
	paper : (-424px, 90px, 102px, 194px, 101px),
	stars-left : (-531px, 143px, 160px, 150px, -57px),
	stars-right : (-696px, 232px, 166px, 134px, 141px)
);
$serviceIcoPath : '../../img/cvWritingIco.png';
.underHeaderBig.service {
		@each $key, $value in $service {
		$bg-position-y: nth($value, 1);
		$width: nth($value, 2);
		$height: nth($value, 3);
		$top: nth($value, 4);
		$left: nth($value, 5);
		.#{$key} {
			background: url($serviceIcoPath) no-repeat;
			position: absolute;
			width: $width;
			height: $height;
			background-position: 0 $bg-position-y;
			top: $top;
			left: $left;
		}
	}
	.stars-left {
		@include animation(zoom-in 1s);
	}
	.stars-right {
		@include animation(zoom-in 1s);
	}
	.grayUfo {
		@include animation(gray-ufo 2s);
	}
	.blackufo {
		@include animation(black-ufo 2s);
	}
	.lightLeft,
	.lightRight {
		@include animation(lights 3s);
	}
}