.additional {
	width: 100%;
	border: 1px solid #b7b7b7;
	margin: 0 0 80px 0;
	td {
		background: #ececec;
	}
	tr:nth-child(2n) td {
		background: #fff;
	}
	td:first-child {
		text-align: left;
		padding: 7px 30px;
		font: normal 14px Open Sans;
		color: #333;
	}
	a {
		display: block;
		color: #1578b1;
		text-align: right;
		font: normal 14px Open Sans;
		padding: 0 30px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}