@import "animate";

//underHeader
@include keyframes(calcButtons) {
	0% {
		@include transform(rotate(0deg));
	}
	50% {
		@include transform(rotate(-15deg));
	}
	100% {
		@include transform(rotate(15deg));
	}
}
@include keyframes(blink) {
	0% {
		opacity: 0.6;
	}
	25% {
		opacity: 0.8;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0.8;
	}
	100% {
		opacity: 0.6;
	}
}