.currencySelect {
	display: inline-block;
	float: right;
	padding: 38px 0 0 0;
	input[type="radio"] {
		display: none;
	}
	input[type="radio"] + label {
		padding: 5px 15px;
		border: 1px dashed #7f55a9;
		color: #7f55a9;
		font: normal 16px Open Sans;
		background: #fff;
		@include border-radius(3px);
		cursor: pointer;
		margin: 0 5px;
		@include box-sizing(border-box);
		@include transition(background 0.3s);
		&:hover {
			background: lighten(#7f55a9,10%);
			color: #fff;
		}
	}
	input[type="radio"]:checked + label {
		color: #fff;
		background: #7f55a9;
	}
}
.rotated {
	position: relative;
	&:after {
		
		display: block;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		position: absolute;

	}
}
//priceTable
.prices {
	width: 100%;
	margin: 0 0 35px 0;
	thead td {
		height: 53px;
		text-align: center;
		border: 1px solid #b7b7b7;
		font: normal 16px Open Sans;
		color: #333;
	}
	tbody {
		border-right: 1px solid #b7b7b7;
		border-bottom: 1px solid #b7b7b7;
		td {
			padding: 7px 0;
			font: normal 14px Open Sans;
			color: #333;
			a {
				display: block;
				text-align: center;
				color: #3b8fbf;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.pkgName {
			padding: 7px 20px;
			span {
				display: block;
				color: #e24406;
			}
		}
		&.redBody {
			.coloredCol {
				background: #fff6f3;
			}
			tr:nth-child(2n) td {
				background: #fff4ef;
			}
			//rotated field
			tr:first-child td:first-child {
				width: 55px;
				background: #e24406;
				color: #fff;
				font: normal 18px Open Sans;
			}
			.rotated:after {
				content: "Most Popular";
				top: -10px;
				left: -36px;
				width: 120px;
			}
		}
		&.purpleBody {
			.coloredCol {
				background: #f9f4ff;
			}
			//rotated field
			tr:first-child td:first-child {
				width: 55px;
				background: #6b439c;
				color: #fff;
				font: normal 18px Open Sans;
			}
			tr:nth-child(2n) td {
				background: #f8f2ff;
			}
			.rotated:after {
				content: "Other";
				top: -15px;
				left: -4px;
				width: 60px;
			}
		}
	}
}