@import "animate";

//underHeader
@include keyframes(ufo) {
	0% {
		top: 28px;
		left: -77px;
	}
	100% {
		top: 128px;
		left: 23px;
	}
}
@include keyframes(rotate) {
	0% {
		@include transform(rotate(0deg));
	}
	50% {
		@include transform(rotate(-3deg));
	}
	100% {
		@include transform(rotate(3deg));
	}
}
@include keyframes(rotate360) {
	0% {
		opacity: 0.5;
		@include transform(rotate(0deg));
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
		@include transform(rotate(360deg));
	}
}
@include keyframes(resumeText-1) {
	0% {
		width: 0px;
	}
	80% {
		width: 0px;
	}
	100% {
		width: 28px;
	}
}
@include keyframes(resumeText-2) {
	0% {
		width: 0px;
	}
	80% {
		width: 0px;
	}
	100% {
		width: 49px;
	}
}
@include keyframes(stars-1) {
	0% {
		top: 205px;
		left: -155px;
	}
	100% {
		top: 205px;
		left: -55px;
	}
}
@include keyframes(stars-2) {
	0% {
		top: 40px;
		left: 259px;
	}
	100% {
		top: 140px;
		left: 159px;
	}
}
@include keyframes(stars-3) {
	0% {
		top: 35px;
		left: 340px;
	}
	100% {
		top: 135px;
		left: 240px;
	}
}
@include keyframes(rocket-move) {
	0% {
		top: 284px;
		left: 167px;
	}
	100% {
		top: 244px;
		left: 207px;
	}
}
@include keyframes(smokeMain) {
	0% {
		top: 307px;
		left: 153px;
	}
	100% {
		top: 267px;
		left: 193px;
	}
}
@include keyframes(smokeTrace) {
	0% {
		height: 0px;
		top: 301px;
		left: 173px;
	}
	100% {
		height: 14px;
		top: 288px;
		left: 184px;
	}
}
@include keyframes(text-1) {
	0% {
		width: 0;
	}
	100% {
		width: 9px;
	}
}
@include keyframes(rotateY) {
	0% {
		@include transform(rotateY(0deg));
	}
	50% {
		@include transform(rotateY(180deg));
	}
	100% {
		@include transform(rotateY(360deg));
	}
}
@include keyframes(text-2) {
	0% {
		width: 0;
	}
	100% {
		width: 16px;
	}
}
@include keyframes(text-3) {
	0% {
		width: 0;
	}
	100% {
		width: 7px;
	}
}
@include keyframes(text-4) {
	0% {
		width: 0;
	}
	100% {
		width: 13px;
	}
}
@include keyframes(text-message) {
	0% {
		width: 0px;
	}
	100% {
		width: 17px;
	}
}
@include keyframes(blink) {
	0% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
@include keyframes(cursor1) {
	0% {
		top: 37px;
		left: 37px;
	}
	25% {
		top: 45px;
		left: 37px;
	}
	50% {
		top: 37px;
		left: 60px;
	}
	75% {
		top: 45px;
		left: 60px;
	}
	100% {
		top: 57px;
		left: 57px;
	}
}
@include keyframes(rocket) {
	0% {
		top: 19px;
		left: 17px;
	}
	100% {
		top: 21px;
		left: 19px;
	}
}
@include keyframes(thumb) {
	0% {
		top: 21px;
	}
	25% {
		top: 28px;
	}
	50% {
		top: 21px;
	}
	75% {
		top: 28px;
	}
	100% {
		top: 26px;
	}
}