.orderOptionsWrap {
	padding: 40px 0;
	border-bottom: 1px solid #eaeaea;
}
.orderOptions {
	display: table;
	padding: 25px 0 50px 0;
	li {
		display: table-cell;
		vertical-align: top;
		cursor: pointer;
		&.options {
			width: 320px;
			padding: 0 20px 0 0;
		}
		&.orderForm {
			width: 315px;
			.red.deepBtn {
				margin: -28px -21%;
				&:after {
					background-size: contain;
				}
			}
		}
		&:hover {
			[class^="ico"] {
				background: #7f55a9;
			}
			@import "elements/hiw/_hiwSpriteHover.scss";
		}
	}
	.right {
		float: right;
		width: 65%;
	}
	.left {
		width: 35%;
	}
	input[type="checkbox"] + label {
		font: 300 23px Open Sans;
		color: #333;
	}
	.price {
		text-align: center;
	}
	@import "elements/hiw/_hiwSprite.scss";
	.dashedBox {
		padding: 20px;
		width: 310px;
		border: 1px dashed #bfbfbf;
		table {
			width: 100%;
		}
		thead {
			font: normal 14px Open Sans;
			td:first-child {
				color: #777;
			}
			td+td {
				text-align: right;
				color: #333;
				font-weight: bold;
			}
		}
		tbody {
			font: normal 14px Open Sans;

			td:first-child {
				color: #777;
				font-weight: 300;
				padding: 0 0 0 10px;
			}
			td+td {
				text-align: right;
			}
			.discount td {
				color: #e24406;
				padding: 0 0 10px 10px;
			}
		}
		tfoot {
			border-top: 1px solid #eaeaea;
			td {
				text-transform: uppercase;
				font: normal 18px/50px Open Sans;
				color: #e24406;
				padding: 0 0 10px 0;
			}
			td + td {
				text-align: right;
			}
		}
	}
	
}
.options.selectedOpt {
	@import "elements/hiw/_hiwSpriteHover.scss";
	[class*="ico-"] {
		background: #7f55a9;
	}
}