@import "animate";

@include keyframes(zoom-in) {
	0% {
		@include scale(0.1);
	}
	100% {
		@include scale(1);
	}
}
@include keyframes(appear) {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}
@include keyframes(blinking) {
	0% {
		opacity: 1;
	}
	98% {
		opacity: 1;
	}
	99% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}
@include keyframes(waving) {
	0% {
		@include transform(rotate(-4deg));
		opacity: 0.1;
	}
	25% {
		@include transform(rotate(4deg));
		opacity: 1;
	}
	50% {
		@include transform(rotate(-4deg));
	}
	75% {
		@include transform(rotate(4deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}
@include keyframes(pen-writing) {
	0% {
		top: 227px;
		left: 90px;
	}
	25% {
		top: 230px;
		left: 100px;
	}
	50% {
		top: 227px;
		left: 110px;
	}
	75% {
		top: 230px;
		left: 118px;
	}
	100% {
		top: 241px;
		left: 131px;
	}
}