$service : (
	paper : (0, 104px, 106px, 202px, 137px),
	pen : (-111px, 61px, 39px, 222px, 90px),
	stars-left : (-155px, 143px, 160px, 145px, -35px),
	stars-right : (-320px, 232px, 166px, 125px, 150px),
	writerEyeLeft : (-655px, 27px, 15px, 36px, 7px),
	writerEyeRight : (-675px, 15px, 26px, 18px, 35px),
	writerShapeBody : (-706px, 59px, 67px, 155px, 90px),
	cvPaper : (-778px, 108px, 112px, 195px, 141px),
	cvWriterHead : (-895px, 66px, 70px, 153px, 90px)
);
$serviceIcoPath : '../../img/resumeEditingIco.png';
.underHeaderBig.service {
		@each $key, $value in $service {
		$bg-position-y: nth($value, 1);
		$width: nth($value, 2);
		$height: nth($value, 3);
		$top: nth($value, 4);
		$left: nth($value, 5);
		.#{$key} {
			background: url($serviceIcoPath) no-repeat;
			position: absolute;
			width: $width;
			height: $height;
			background-position: 0 $bg-position-y;
			top: $top;
			left: $left;
		}
	}
	.stars-right,
	.stars-left {
		@include animation(zoom-in 1s);
	}
	.writerShapeBody {
		@include animation(appear 1s);
	}
	.writerEyeRight,
	.writerEyeLeft {
		@include animation(blinking 5s linear infinite);
	}
	.paper {
		@include animation(appear 1s);
	}
	.pen {
		@include animation(pen-writing 1s);
	}
	.cvWriterHead {
		@include animation(waving 1s);
	}
}