$shape: 89px, 89px;
$icos-hover: (
	resume : (46px, 58px, 0px),
	cv : (46px, 46px, -128px),
	letters : (54px, 36px, -232px),
	cover : (48px, 33px, -316px),
);
$spriteHiwPath: '../img/servicesIco.png';
@each $key, $value in $icos-hover {
	$width: nth($value, 1);
	$height: nth($value, 2);
	$bg-position-y: nth($value, 3);
	.ico-#{$key} {
		display: block;
		width: nth($shape,1);
		height: nth($shape,2);
		border: 1px solid #bfbfbf;
		border-radius: 50%;
		margin: 7px auto 0 auto;
		position: relative;
		@include animation(rotateY 0.4s alternate-reverse);
		span {
			display: block;
			background: url($spriteHiwPath) no-repeat;
			position: relative;
			background-position: 0 $bg-position-y;
			width: $width;
			height: $height;
			top: (nth($shape,2) - $height)/2;
			left: (nth($shape,1) - $width)/2;
		}
	}
}