$shape: 89px, 89px;
$icos: (
	resume : (48px, 60px, -63px),
	cv : (48px, 48px, -179px),
	letters : (56px, 38px, -273px),
	cover : (38px, 19px, -354px),
);
$spriteHiwPath: '../img/servicesIco.png';
@each $key, $value in $icos {
	$width: nth($value, 1);
	$height: nth($value, 2);
	$bg-position-y: nth($value, 3);
	.ico-#{$key} {
		display: block;
		width: nth($shape,1);
		height: nth($shape,2);
		border: 1px solid #bfbfbf;
		border-radius: 50%;
		margin: 7px auto 0 auto;
		position: relative;
		span {
			display: block;
			background: url($spriteHiwPath) no-repeat;
			position: relative;
			background-position: 0 $bg-position-y;
			width: $width;
			height: $height;
			top: (nth($shape,2) - $height)/2;
			left: (nth($shape,1) - $width)/2;
		}
	}
}