.additionalServicesWrap {
	padding: 0 0 40px 0;
	h2 {
		color: #333;
		font: 300 35px/3.5em Open Sans;
	}
}
.additionalServices {
	display: table;
	li {
		display: table-cell;
		width: 33%;
		padding: 0 20px 0 0;
	}
	h4 {
		color: #3b8fbf;
		font: normal 16px/1em Open Sans;
	}
	.price {
		text-align: left;
	}
}