@import "compass/css3";
@import "animate";

//header
@include keyframes(opacityBlink) {
	0% {
		opacity: 0.9;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.9;
	}
}

.stars {
	@include animation(opacityBlink 0.5s infinite);
}
$header-icos : (
	paper-left : (9px, 243px, -100px),
	paper-middle : (52px, 302px, 80px),
	paper-right : (7px, 353px, 70px),
	papersSmall1 : (13px, 225px, -50px),
	papersSmall2 : (65px, 273px, 50px),
);
$header-icos-sprite: '../img/servicesHeaderIco.png';
	@each $key, $value in $header-icos {
		$top: nth($value, 1);
		$left: nth($value, 2);
		$offset: nth($value, 3);
		@include keyframes(#{$key}) {
			0% {
				top: $top + $offset;
				left: $left - $offset;
			}
			100% {
				top: $top;
				left: $left;
			}
		}
		.#{$key} {
			@include animation(#{$key} 1.5s);
		}
	}
//black ufo
@include keyframes(opacityBlinkLight) {
	0% {
		opacity: 0.8;
	}
	25% {
		opacity: 0.9;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0.9
	}
	100% {
		opacity: 0.8;
	}
}
@include keyframes(rotateUfo) {
	0% {
		@include transform(rotate(0deg));
	}
	50% {
		@include transform(rotate(1deg));
	}
	100% {
		@include transform(rotate(-1deg));
	}
}
.blackUFOwrap {
	.light {
		@include animation(opacityBlinkLight 0.5s infinite);
	}
	.blackufo {
		@include animation(rotateUfo 0.5s infinite);
	}
}


//service table
@include keyframes(rotateY) {
	0% {
		@include transform(rotateY(0deg));
	}
	50% {
		@include transform(rotateY(180deg));
	}
	100% {
		@include transform(rotateY(360deg));
	}
}
@include keyframes(sleep) {
	0% {
		opacity: 0;
	}
	99% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

//how it works
@include keyframes(step1) {
	0% {
		background-position: 0 0;
	}
	1% {
		background-position: 0 -33px;
	}
	100% {
		background-position: 0 -33px;
	}
}
@include keyframes(cursor1) {
	0% {
		left: 20px;
	}
	50% {
		left: 38px;
	}
	100% {
		left: 56px;
	}
}
@include keyframes(inputs) {
	0% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
@include keyframes(cursor2) {
	0% {
		top: 16px;
		left: 27px;
	}
	25% {
		top: 25px;
		left: 27px;
	}
	50% {
		top: 16px;
		left: 50px;
	}
	75% {
		top: 25px;
		left: 50px;
	}
	100% {
		top: 36px;
		left: 45px;
	}
}
@include keyframes(step3-1) {
	0% {
		top: 4px;
		left: 39px;
	}
	100% {
		top: 17px;
		left: 26px;
	}
}
@include keyframes(step3-2) {
	0% {
		top: 29px;
		left: 6px;
	}
	100% {
		top: 21px;
		left: 14px;
	}
}