$black-ufo : (
	blackufo : (0, 136px, 85px, -3px, -2px),
	wave-bot-top : (-90px, 8px, 12px, 79px, -13px),
	wave-bot-mid : (-107px, 15px, 25px, 77px, -20px),
	wave-bot-bot : (-137px, 20px, 36px, 78px, -28px),
	wave-top-top : (-178px, 19px, 36px, -26px, 141px),
	wave-top-mid : (-219px, 15px, 26px, -16px, 136px),
	wave-top-bot : (-250px, 9px, 11px, -3px, 135px),
	light : (-266px, 122px, 118px, 48px, 65px),
	bril : (-389px, 20px, 20px, 86px, 87px),
	percent20 : (-414px, 73px, 29px, 127px, 89px),
	woohoo : (-448px, 58px, 40px, -27px, 4px),
);
$black-ufo-icos-sprite: '../img/blackUfoIco.png';
.blackUFOwrap {
	position: relative;
	width: 25%;
	@each $key, $value in $black-ufo {
		$bg-position-y: nth($value, 1);
		$width: nth($value, 2);
		$height: nth($value, 3);
		$top: nth($value, 4);
		$left: nth($value, 5);
		.#{$key} {
			display: block;
			position: absolute;
			background: url($black-ufo-icos-sprite) no-repeat;
			width: $width;
			height: $height;
			background-position: 0 $bg-position-y;
			top: $top;
			left: $left;
		}
	}
}
.imageWithText {
	padding: 50px 0;
	border-bottom: 1px solid #eaeaea;
	.blackUFOwrap,
	.text {
		display: inline-block;
		vertical-align: top;
	}
	.text {
		width: 74%;
		h3 {
			font: 300 34px Open Sans;
			color: #6b439c;
		}
		p {
			padding: 10px 0;
			color: #777777;
			span {
				color: #000;
			}
		}
	}
}
