$shape: 125px, 125px;
//column-hover : (-33px, 13px, 28px, 0px, 0px),
$hiw: (
	column : (0, 13px, 28px, 14px, 0px),
	input1 : (-66px, 21px, 6px, 14px, 10px),
	input2 : (-77px, 21px, 6px, 22px, 10px),
	input3 : (-88px, 21px, 6px, 14px, 35px),
	input4 : (-99px, 21px, 6px, 22px, 35px),
	orderBtnIco : (-110px, 28px, 8px, 31px, 19px),
	message1 : (-123px, 25px, 22px, 17px, 26px),
	message2 : (-150px, 25px, 22px, 21px, 14px),
	letter : (-177px, 29px, 20px, 16px, 19px),
	cursor : (-202px, 7px, 7px, 25px, 39px),
	pc : (-214px, 67px, 60px, 32px, 29px),
);
$spriteHiw: '../img/hiwServicesIco.png';
.hiwWrap {
	h2 {
		margin: 20px 0;
	}
	.deepBtn {
		left: 36%;
	}
	padding: 20px 0 45px 0;
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
}
.hiwList {
	display: table;
	li {
		display: table-cell;
		width: 25%;
		vertical-align: top;
		padding: 0 25px;
		cursor: pointer;
		&:hover {
			.el1 {
				@include animation(step1 1s linear);
			}
			.el2 {
				@include animation(step1 1s linear 1s);
			}
			.el3 {
				@include animation(step1 1s linear 2s);
			}
			.column + .cursor {
				@include animation(cursor1 3s linear);
			}
			.input1 {
				@include animation(inputs 1s);
			}
			.input2 {
				@include animation(inputs 1s 1s);
			}
			.input3 {
				@include animation(inputs 1s 2s);
			}
			.input4 {
				@include animation(inputs 1s 3s);
			}
			.orderBtnIco + .cursor {
				@include animation(cursor2 5s linear);
			}
			.orderBtnIco {
				@include animation(inputs 1s 4s);
			}
			.letter {
				@include animation(rotateY 0.4s);
			}
			.message1 {
				@include animation(step3-1 0.5s);
			}
			.message2 {
				@include animation(step3-2 0.5s);
			}
		}
	}
	li:nth-child(2n+1) {
		.shape {
			&:after {
				left: 125px;
				top: 0;
				content: "";
				display: block;
				position: absolute;
				background: url(../ref/hiw-services/06arr-top.png) no-repeat;
				width: 119px;
				height: 31px;
			}
		}
	}
	li:nth-child(2n) {
		.shape {
			&:after {
				left: 125px;
				top: 95px;
				content: "";
				display: block;
				position: absolute;
				background: url(../ref/hiw-services/06arr-bot.png) no-repeat;
				width: 120px;
				height: 30px;
			}
		}
	}
	li:last-child {
		.shape:after {
			background: none;
		}
	}
	h5 {
		text-align: center;
		color: #7f55a9;
		font: normal 16px Open Sans;
		text-transform: uppercase;
		margin: 10px 0;
		span {
			font-weight: bold;
		}
	}
	.shape {
		position: relative;
		display: block;
		width: nth($shape,1);
		height: nth($shape,2);
		background: #7f55a9;
		border-radius: 50%;
		margin: 0 auto;
			
	}
	@each $key, $value in $hiw {
		$bg-position-y: nth($value, 1);
		$width: nth($value, 2);
		$height: nth($value, 3);
		$top: nth($value, 4);
		$left: nth($value, 5);
		.#{$key} {
			display: block;
			position: absolute;
			background: url($spriteHiw) no-repeat;
			width: $width;
			height: $height;
			background-position: 0 $bg-position-y;
			top: $top;
			left: $left;
		}
	}
	.column {
		&.el1 {
			left: 10px;
		}
		&.el2 {
			left: 27px;
		}
		&.el3 {
			left: 44px;
		}
	}
	.orderBtnIco ~ .cursor {
		top: 36px;
		left: 49px
	}
}
