$header-icos : (
	paper-left : (0, 65px, 65px, 9px, 243px),
	paper-middle : (-70px, 53px, 35px, 52px, 302px),
	paper-right : (-110px, 42px, 46px, 7px, 353px),
	papersSmall1 : (-161px, 226px, 81px, 13px, 225px),
	papersSmall2 : (-247px, 118px, 34px, 65px, 273px),
	stars : (-286px, 505px, 94px, 12px, 6px),
);
$header-icos-sprite: '../img/servicesHeaderIco.png';
.anim.services {
	@each $key, $value in $header-icos {
		$bg-position-y: nth($value, 1);
		$width: nth($value, 2);
		$height: nth($value, 3);
		$top: nth($value, 4);
		$left: nth($value, 5);
		.#{$key} {
			display: block;
			position: absolute;
			background: url($header-icos-sprite) no-repeat;
			width: $width;
			height: $height;
			background-position: 0 $bg-position-y;
			top: $top;
			left: $left;
		}
	}
}