.getHelp {
  padding: 120px 0;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
}
.getHelp .left,
.getHelp .mid,
.getHelp .right {
  display: inline-block;
  width: 32%;
  position: relative;
  vertical-align: top;
}
.getHelp .deepBtn {
  left: 5%;
}
.getHelp .ufo-left,
.getHelp .wave-bot-top,
.getHelp .wave-bot-mid,
.getHelp .wave-bot-bot,
.getHelp .wave-top-top,
.getHelp .wave-top-mid,
.getHelp .wave-top-bot,
.getHelp .question-top,
.getHelp .question-mid,
.getHelp .question-bot,
.getHelp .light-left,
.getHelp .ufo-right,
.getHelp .light-right,
.getHelp .alien,
.getHelp .letter,
.getHelp .letter-text,
.getHelp .incredible {
  background: url(../img/getHelpIco.png) no-repeat;
  display: block;
  position: absolute;
  opacity: 0;
}
.getHelp .alien {
  width: 24px;
  height: 22px;
  background-position: 0 0;
  top: 23px;
  left: 186px;
}
.getHelp .incredible {
  width: 96px;
  height: 33px;
  background-position: 0 -72px;
  top: -51px;
  left: 194px;
}
.getHelp .letter {
  width: 65px;
  height: 48px;
  background-position: 0 -155px;
  top: 110px;
  left: 121px;
}
.getHelp .light-right {
  width: 121px;
  height: 145px;
  background-position: 0 -253px;
  top: 21px;
  left: 90px;
}
.getHelp .light-left {
  width: 121px;
  height: 145px;
  background-position: 0 -253px;
  top: 30px;
  left: 126px;
}
.getHelp .question-bot {
  width: 24px;
  height: 18px;
  background-position: 0 -448px;
  top: -16px;
  left: 58px;
}
.getHelp .question-mid {
  width: 18px;
  height: 18px;
  background-position: 0 -516px;
  top: -45px;
  left: 80px;
}
.getHelp .question-top {
  width: 15px;
  height: 23px;
  background-position: 0 -584px;
  top: -44px;
  left: 120px;
}
.getHelp .ufo-left {
  width: 136px;
  height: 85px;
  background-position: 0 -657px;
  top: -18px;
  left: 56px;
}
.getHelp .ufo-right {
  width: 136px;
  height: 85px;
  background-position: 0 -657px;
  top: -28px;
  left: 142px;
}
.getHelp .wave-bot-bot {
  width: 20px;
  height: 36px;
  background-position: 0 -792px;
  top: 58px;
  left: 30px;
}
.getHelp .wave-bot-mid {
  width: 15px;
  height: 25px;
  background-position: 0 -878px;
  top: 58px;
  left: 39px;
}
.getHelp .wave-bot-top {
  width: 8px;
  height: 12px;
  background-position: 0 -953px;
  top: 61px;
  left: 47px;
}
.getHelp .wave-top-bot {
  width: 9px;
  height: 11px;
  background-position: 0 -1015px;
  top: -24px;
  left: 194px;
}
.getHelp .wave-top-mid {
  width: 15px;
  height: 26px;
  background-position: 0 -1076px;
  top: -36px;
  left: 195px;
}
.getHelp .wave-top-top {
  width: 19px;
  height: 36px;
  background-position: 0 -1152px;
  top: -46px;
  left: 200px;
}
.getHelp .ufo-left {
  -moz-transform: rotate(-57deg);
  -ms-transform: rotate(-57deg);
  -webkit-transform: rotate(-57deg);
  transform: rotate(-57deg);
  opacity: 1;
}
.getHelp .question-top,
.getHelp .question-mid,
.getHelp .question-bot,
.getHelp .ufo-right,
.getHelp .light-left,
.getHelp .light-right,
.getHelp .incredible,
.getHelp .ufo-left,
.getHelp .letter {
  opacity: 1;
}
.getHelp .light-left {
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.anim.about .rocket {
  background: url(../img/rocket.png) no-repeat;
  width: 208px;
  height: 79px;
  position: absolute;
  left: 160px;
  top: 22px;
}
.anim.about .stars {
  background: url(../img/stars.png) no-repeat;
  width: 505px;
  height: 99px;
  position: absolute;
  left: 2px;
  top: 5px;
}

@-moz-keyframes rocket {
  0% {
    left: 100px;
    top: 82px;
  }

  100% {
    left: 160px;
    top: 22px;
  }
}
@-webkit-keyframes rocket {
  0% {
    left: 100px;
    top: 82px;
  }

  100% {
    left: 160px;
    top: 22px;
  }
}
@keyframes rocket {
  0% {
    left: 100px;
    top: 82px;
  }

  100% {
    left: 160px;
    top: 22px;
  }
}
@-moz-keyframes opacityBlink {
  0% {
    opacity: 0.6;
  }

  25% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.6;
  }
}
@-webkit-keyframes opacityBlink {
  0% {
    opacity: 0.6;
  }

  25% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.6;
  }
}
@keyframes opacityBlink {
  0% {
    opacity: 0.6;
  }

  25% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.6;
  }
}
@-moz-keyframes opacityBlinkLite {
  0% {
    opacity: 0.8;
  }

  25% {
    opacity: 0.9;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.8;
  }
}
@-webkit-keyframes opacityBlinkLite {
  0% {
    opacity: 0.8;
  }

  25% {
    opacity: 0.9;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.8;
  }
}
@keyframes opacityBlinkLite {
  0% {
    opacity: 0.8;
  }

  25% {
    opacity: 0.9;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.8;
  }
}
@-moz-keyframes rotateUfoLeft {
  0% {
    -moz-transform: rotate(-57deg);
    transform: rotate(-57deg);
  }

  50% {
    -moz-transform: rotate(-56deg);
    transform: rotate(-56deg);
  }

  100% {
    -moz-transform: rotate(-58deg);
    transform: rotate(-58deg);
  }
}
@-webkit-keyframes rotateUfoLeft {
  0% {
    -webkit-transform: rotate(-57deg);
    transform: rotate(-57deg);
  }

  50% {
    -webkit-transform: rotate(-56deg);
    transform: rotate(-56deg);
  }

  100% {
    -webkit-transform: rotate(-58deg);
    transform: rotate(-58deg);
  }
}
@keyframes rotateUfoLeft {
  0% {
    -moz-transform: rotate(-57deg);
    -ms-transform: rotate(-57deg);
    -webkit-transform: rotate(-57deg);
    transform: rotate(-57deg);
  }

  50% {
    -moz-transform: rotate(-56deg);
    -ms-transform: rotate(-56deg);
    -webkit-transform: rotate(-56deg);
    transform: rotate(-56deg);
  }

  100% {
    -moz-transform: rotate(-58deg);
    -ms-transform: rotate(-58deg);
    -webkit-transform: rotate(-58deg);
    transform: rotate(-58deg);
  }
}
@-moz-keyframes rotateUfo {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -moz-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

  100% {
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
  }
}
@-webkit-keyframes rotateUfo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

  100% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
}
@keyframes rotateUfo {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

  100% {
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
}
.stars {
  -moz-animation: opacityBlinkLite 0.5s infinite;
  -webkit-animation: opacityBlinkLite 0.5s infinite;
  animation: opacityBlinkLite 0.5s infinite;
}

.rocket {
  -moz-animation: rocket 2s;
  -webkit-animation: rocket 2s;
  animation: rocket 2s;
}

.ufo-left {
  -moz-animation: rotateUfoLeft 0.5s linear infinite;
  -webkit-animation: rotateUfoLeft 0.5s linear infinite;
  animation: rotateUfoLeft 0.5s linear infinite;
}

.ufo-right {
  -moz-animation: rotateUfo 0.5s linear infinite;
  -webkit-animation: rotateUfo 0.5s linear infinite;
  animation: rotateUfo 0.5s linear infinite;
}

.alien,
.letter-text {
  -moz-animation: opacityBlink 0.5s infinite;
  -webkit-animation: opacityBlink 0.5s infinite;
  animation: opacityBlink 0.5s infinite;
}

.wave-bot-top,
.wave-top-bot {
  -moz-animation: opacityBlink 0.5s infinite 0.5s;
  -webkit-animation: opacityBlink 0.5s infinite 0.5s;
  animation: opacityBlink 0.5s infinite 0.5s;
}

.wave-bot-mid,
.wave-top-mid {
  -moz-animation: opacityBlink 0.5s infinite 1s;
  -webkit-animation: opacityBlink 0.5s infinite 1s;
  animation: opacityBlink 0.5s infinite 1s;
}

.wave-bot-bot,
.wave-top-top {
  -moz-animation: opacityBlink 0.5s infinite 1.5s;
  -webkit-animation: opacityBlink 0.5s infinite 1.5s;
  animation: opacityBlink 0.5s infinite 1.5s;
}

.doubleBlock {
  padding: 20px 0 80px 0;
  border-bottom: 1px solid #eaeaea;
}
.doubleBlock .left,
.doubleBlock .right {
  height: 100px;
  padding: 0 20px 0 0;
}
.doubleBlock h2 {
  text-align: left;
  line-height: 80px;
}
.doubleBlock p {
  font: 300 18px Calibri;
  color: #333;
}
