.underHeaderBig.service .blackufo {
  background: url("../../img/cvWritingIco.png") no-repeat;
  position: absolute;
  width: 73px;
  height: 48px;
  background-position: 0 0;
  top: 135px;
  left: 195px;
}
.underHeaderBig.service .earth {
  background: url("../../img/cvWritingIco.png") no-repeat;
  position: absolute;
  width: 261px;
  height: 29px;
  background-position: 0 -53px;
  top: 311px;
  left: 42px;
}
.underHeaderBig.service .grayUfo {
  background: url("../../img/cvWritingIco.png") no-repeat;
  position: absolute;
  width: 82px;
  height: 67px;
  background-position: 0 -87px;
  top: 131px;
  left: 22px;
}
.underHeaderBig.service .lightLeft {
  background: url("../../img/cvWritingIco.png") no-repeat;
  position: absolute;
  width: 119px;
  height: 130px;
  background-position: 0 -159px;
  top: 165px;
  left: 65px;
}
.underHeaderBig.service .lightRight {
  background: url("../../img/cvWritingIco.png") no-repeat;
  position: absolute;
  width: 131px;
  height: 125px;
  background-position: 0 -294px;
  top: 162px;
  left: 103px;
}
.underHeaderBig.service .paper {
  background: url("../../img/cvWritingIco.png") no-repeat;
  position: absolute;
  width: 90px;
  height: 102px;
  background-position: 0 -424px;
  top: 194px;
  left: 101px;
}
.underHeaderBig.service .stars-left {
  background: url("../../img/cvWritingIco.png") no-repeat;
  position: absolute;
  width: 143px;
  height: 160px;
  background-position: 0 -531px;
  top: 150px;
  left: -57px;
}
.underHeaderBig.service .stars-right {
  background: url("../../img/cvWritingIco.png") no-repeat;
  position: absolute;
  width: 232px;
  height: 166px;
  background-position: 0 -696px;
  top: 134px;
  left: 141px;
}
.underHeaderBig.service .stars-left {
  -moz-animation: zoom-in 1s;
  -webkit-animation: zoom-in 1s;
  animation: zoom-in 1s;
}
.underHeaderBig.service .stars-right {
  -moz-animation: zoom-in 1s;
  -webkit-animation: zoom-in 1s;
  animation: zoom-in 1s;
}
.underHeaderBig.service .grayUfo {
  -moz-animation: gray-ufo 2s;
  -webkit-animation: gray-ufo 2s;
  animation: gray-ufo 2s;
}
.underHeaderBig.service .blackufo {
  -moz-animation: black-ufo 2s;
  -webkit-animation: black-ufo 2s;
  animation: black-ufo 2s;
}
.underHeaderBig.service .lightLeft,
.underHeaderBig.service .lightRight {
  -moz-animation: lights 3s;
  -webkit-animation: lights 3s;
  animation: lights 3s;
}

@-moz-keyframes zoom-in {
  0% {
    -moz-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }

  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes zoom-in {
  0% {
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }

  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes gray-ufo {
  0% {
    opacity: 0;
    top: 31px;
    left: -88px;
  }

  49% {
    opacity: 0;
    top: 31px;
    left: -88px;
  }

  50% {
    opacity: 1;
    top: 31px;
    left: -88px;
  }

  100% {
    top: 131px;
    left: 22px;
  }
}
@-webkit-keyframes gray-ufo {
  0% {
    opacity: 0;
    top: 31px;
    left: -88px;
  }

  49% {
    opacity: 0;
    top: 31px;
    left: -88px;
  }

  50% {
    opacity: 1;
    top: 31px;
    left: -88px;
  }

  100% {
    top: 131px;
    left: 22px;
  }
}
@keyframes gray-ufo {
  0% {
    opacity: 0;
    top: 31px;
    left: -88px;
  }

  49% {
    opacity: 0;
    top: 31px;
    left: -88px;
  }

  50% {
    opacity: 1;
    top: 31px;
    left: -88px;
  }

  100% {
    top: 131px;
    left: 22px;
  }
}
@-moz-keyframes black-ufo {
  0% {
    opacity: 0;
    top: 35px;
    left: 295px;
  }

  49% {
    opacity: 0;
    top: 35px;
    left: 295px;
  }

  50% {
    opacity: 1;
    top: 35px;
    left: 295px;
  }

  100% {
    top: 135px;
    left: 195px;
  }
}
@-webkit-keyframes black-ufo {
  0% {
    opacity: 0;
    top: 35px;
    left: 295px;
  }

  49% {
    opacity: 0;
    top: 35px;
    left: 295px;
  }

  50% {
    opacity: 1;
    top: 35px;
    left: 295px;
  }

  100% {
    top: 135px;
    left: 195px;
  }
}
@keyframes black-ufo {
  0% {
    opacity: 0;
    top: 35px;
    left: 295px;
  }

  49% {
    opacity: 0;
    top: 35px;
    left: 295px;
  }

  50% {
    opacity: 1;
    top: 35px;
    left: 295px;
  }

  100% {
    top: 135px;
    left: 195px;
  }
}
@-moz-keyframes lights {
  0% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lights {
  0% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes lights {
  0% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
