.underHeaderBig.service .thankYouLetter {
  background: url("../../img/coverTyLetterIco.png") no-repeat;
  position: absolute;
  width: 89px;
  height: 77px;
  background-position: 0 0;
  top: 209px;
  left: 132px;
}
.underHeaderBig.service .ufo-1 {
  background: url("../../img/coverTyLetterIco.png") no-repeat;
  position: absolute;
  width: 34px;
  height: 28px;
  background-position: 0 -82px;
  top: 184px;
  left: 91px;
}
.underHeaderBig.service .ufo-2 {
  background: url("../../img/coverTyLetterIco.png") no-repeat;
  position: absolute;
  width: 26px;
  height: 12px;
  background-position: 0 -115px;
  top: 147px;
  left: 155px;
}
.underHeaderBig.service .ufo-3 {
  background: url("../../img/coverTyLetterIco.png") no-repeat;
  position: absolute;
  width: 43px;
  height: 33px;
  background-position: 0 -132px;
  top: 181px;
  left: 228px;
}
.underHeaderBig.service .letter {
  background: url("../../img/coverTyLetterIco.png") no-repeat;
  position: absolute;
  width: 88px;
  height: 72px;
  background-position: 0 -170px;
  top: 220px;
  left: 126px;
}
.underHeaderBig.service .light-1 {
  background: url("../../img/coverTyLetterIco.png") no-repeat;
  position: absolute;
  width: 92px;
  height: 44px;
  background-position: 0 -247px;
  top: 200px;
  left: 109px;
}
.underHeaderBig.service .light-2 {
  background: url("../../img/coverTyLetterIco.png") no-repeat;
  position: absolute;
  width: 76px;
  height: 86px;
  background-position: 0 -296px;
  top: 155px;
  left: 126px;
}
.underHeaderBig.service .light-3 {
  background: url("../../img/coverTyLetterIco.png") no-repeat;
  position: absolute;
  width: 123px;
  height: 73px;
  background-position: 0 -387px;
  top: 200px;
  left: 126px;
}
.underHeaderBig.service .stars {
  background: url("../../img/coverTyLetterIco.png") no-repeat;
  position: absolute;
  width: 417px;
  height: 194px;
  background-position: 0 -465px;
  top: 131px;
  left: -35px;
}
.underHeaderBig.service .stars {
  -moz-animation: zoom-in 1s;
  -webkit-animation: zoom-in 1s;
  animation: zoom-in 1s;
}
.underHeaderBig.service .light-1,
.underHeaderBig.service .light-2,
.underHeaderBig.service .light-3 {
  -moz-animation: lights 2s;
  -webkit-animation: lights 2s;
  animation: lights 2s;
}
.underHeaderBig.service .ufo-1 {
  -moz-animation: ufo-1 1s;
  -webkit-animation: ufo-1 1s;
  animation: ufo-1 1s;
}
.underHeaderBig.service .ufo-2 {
  -moz-animation: ufo-2 1s;
  -webkit-animation: ufo-2 1s;
  animation: ufo-2 1s;
}
.underHeaderBig.service .ufo-3 {
  -moz-animation: ufo-3 1s;
  -webkit-animation: ufo-3 1s;
  animation: ufo-3 1s;
}

.underHeaderBig.service.thankyou .light-1,
.underHeaderBig.service.thankyou .light-2,
.underHeaderBig.service.thankyou .light-3 {
  -moz-animation: lights 5s infinite;
  -webkit-animation: lights 5s infinite;
  animation: lights 5s infinite;
}
.underHeaderBig.service.thankyou .light-3 {
  height: 58px;
}

@-moz-keyframes zoom-in {
  0% {
    -moz-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }

  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes zoom-in {
  0% {
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }

  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes lights {
  0% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lights {
  0% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes lights {
  0% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes ufo-1 {
  0% {
    top: 84px;
    left: -9px;
  }

  100% {
    top: 184px;
    left: 91px;
  }
}
@-webkit-keyframes ufo-1 {
  0% {
    top: 84px;
    left: -9px;
  }

  100% {
    top: 184px;
    left: 91px;
  }
}
@keyframes ufo-1 {
  0% {
    top: 84px;
    left: -9px;
  }

  100% {
    top: 184px;
    left: 91px;
  }
}
@-moz-keyframes ufo-2 {
  0% {
    top: 60px;
  }

  100% {
    top: 147px;
  }
}
@-webkit-keyframes ufo-2 {
  0% {
    top: 60px;
  }

  100% {
    top: 147px;
  }
}
@keyframes ufo-2 {
  0% {
    top: 60px;
  }

  100% {
    top: 147px;
  }
}
@-moz-keyframes ufo-3 {
  0% {
    top: 81px;
    left: 328px;
  }

  100% {
    top: 181px;
    left: 228px;
  }
}
@-webkit-keyframes ufo-3 {
  0% {
    top: 81px;
    left: 328px;
  }

  100% {
    top: 181px;
    left: 228px;
  }
}
@keyframes ufo-3 {
  0% {
    top: 81px;
    left: 328px;
  }

  100% {
    top: 181px;
    left: 228px;
  }
}
