.underHeaderBig.service .paper {
  background: url("../../img/resumeEditingIco.png") no-repeat;
  position: absolute;
  width: 104px;
  height: 106px;
  background-position: 0 0;
  top: 202px;
  left: 137px;
}
.underHeaderBig.service .pen {
  background: url("../../img/resumeEditingIco.png") no-repeat;
  position: absolute;
  width: 61px;
  height: 39px;
  background-position: 0 -111px;
  top: 222px;
  left: 90px;
}
.underHeaderBig.service .stars-left {
  background: url("../../img/resumeEditingIco.png") no-repeat;
  position: absolute;
  width: 143px;
  height: 160px;
  background-position: 0 -155px;
  top: 145px;
  left: -35px;
}
.underHeaderBig.service .stars-right {
  background: url("../../img/resumeEditingIco.png") no-repeat;
  position: absolute;
  width: 232px;
  height: 166px;
  background-position: 0 -320px;
  top: 125px;
  left: 150px;
}
.underHeaderBig.service .writerEyeLeft {
  background: url("../../img/resumeEditingIco.png") no-repeat;
  position: absolute;
  width: 27px;
  height: 15px;
  background-position: 0 -655px;
  top: 36px;
  left: 7px;
}
.underHeaderBig.service .writerEyeRight {
  background: url("../../img/resumeEditingIco.png") no-repeat;
  position: absolute;
  width: 15px;
  height: 26px;
  background-position: 0 -675px;
  top: 18px;
  left: 35px;
}
.underHeaderBig.service .writerShapeBody {
  background: url("../../img/resumeEditingIco.png") no-repeat;
  position: absolute;
  width: 59px;
  height: 67px;
  background-position: 0 -706px;
  top: 155px;
  left: 90px;
}
.underHeaderBig.service .cvPaper {
  background: url("../../img/resumeEditingIco.png") no-repeat;
  position: absolute;
  width: 108px;
  height: 112px;
  background-position: 0 -778px;
  top: 195px;
  left: 141px;
}
.underHeaderBig.service .cvWriterHead {
  background: url("../../img/resumeEditingIco.png") no-repeat;
  position: absolute;
  width: 66px;
  height: 70px;
  background-position: 0 -895px;
  top: 153px;
  left: 90px;
}
.underHeaderBig.service .stars-right,
.underHeaderBig.service .stars-left {
  -moz-animation: zoom-in 1s;
  -webkit-animation: zoom-in 1s;
  animation: zoom-in 1s;
}
.underHeaderBig.service .writerShapeBody {
  -moz-animation: appear 1s;
  -webkit-animation: appear 1s;
  animation: appear 1s;
}
.underHeaderBig.service .writerEyeRight,
.underHeaderBig.service .writerEyeLeft {
  -moz-animation: blinking 5s linear infinite;
  -webkit-animation: blinking 5s linear infinite;
  animation: blinking 5s linear infinite;
}
.underHeaderBig.service .paper {
  -moz-animation: appear 1s;
  -webkit-animation: appear 1s;
  animation: appear 1s;
}
.underHeaderBig.service .pen {
  -moz-animation: pen-writing 1s;
  -webkit-animation: pen-writing 1s;
  animation: pen-writing 1s;
}
.underHeaderBig.service .cvWriterHead {
  -moz-animation: waving 1s;
  -webkit-animation: waving 1s;
  animation: waving 1s;
}

@-moz-keyframes zoom-in {
  0% {
    -moz-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }

  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes zoom-in {
  0% {
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }

  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes appear {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes blinking {
  0% {
    opacity: 1;
  }

  98% {
    opacity: 1;
  }

  99% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blinking {
  0% {
    opacity: 1;
  }

  98% {
    opacity: 1;
  }

  99% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
@keyframes blinking {
  0% {
    opacity: 1;
  }

  98% {
    opacity: 1;
  }

  99% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes waving {
  0% {
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
    opacity: 0.1;
  }

  25% {
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
    opacity: 1;
  }

  50% {
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

  75% {
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  100% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes waving {
  0% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
    opacity: 0.1;
  }

  25% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    opacity: 1;
  }

  50% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

  75% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes waving {
  0% {
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
    opacity: 0.1;
  }

  25% {
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    opacity: 1;
  }

  50% {
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

  75% {
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes pen-writing {
  0% {
    top: 227px;
    left: 90px;
  }

  25% {
    top: 230px;
    left: 100px;
  }

  50% {
    top: 227px;
    left: 110px;
  }

  75% {
    top: 230px;
    left: 118px;
  }

  100% {
    top: 241px;
    left: 131px;
  }
}
@-webkit-keyframes pen-writing {
  0% {
    top: 227px;
    left: 90px;
  }

  25% {
    top: 230px;
    left: 100px;
  }

  50% {
    top: 227px;
    left: 110px;
  }

  75% {
    top: 230px;
    left: 118px;
  }

  100% {
    top: 241px;
    left: 131px;
  }
}
@keyframes pen-writing {
  0% {
    top: 227px;
    left: 90px;
  }

  25% {
    top: 230px;
    left: 100px;
  }

  50% {
    top: 227px;
    left: 110px;
  }

  75% {
    top: 230px;
    left: 118px;
  }

  100% {
    top: 241px;
    left: 131px;
  }
}
