.dropdown {
	position: relative;
}
.drop {
	position: absolute;
	display: none;
	top: 65px;
	left: -15px;
	z-index: 3;
	min-width: 200px;
	li {
		display: block;
		&:first-child {
			a {
				@include box-shadow (inset 0px 4px 5px 0px rgba(50, 50, 50, 0.06));
			}
		}
		&:last-child {
			a {
				@include box-shadow (0px 3px 4px 0px rgba(50, 50, 50, 0.25));
			}
		}
		a {
			background: #fff;
			font: normal 14px Open Sans;
			padding: 10px 25px;
			display: block;
			color: #666;
			text-decoration: none;
			@include transition(background 0.3s);
			&:before {
				content: "";
				display: inline-block;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 2.5px 0 2.5px 3px;
				border-color: transparent transparent transparent #b6b6b6;
				position: relative;
				top: -3px;
				left: -10px;
			}
			&:hover {
				background: #7f55a9;
				color: #fff;
				text-decoration: none;
				&:before {
					border-color: transparent transparent transparent #fff;
				}
			}
		}
	}
}
.dropdown:hover .drop {
	display: block;
}