footer {
	background: #1b1b1b;
	padding: 25px 0 0 0;
	min-width: 990px;
}
.footerTop {
	padding: 35px 0;
	border-bottom: 1px solid #2e2e2e;
}
.multiColumn {
	display: table;
	width: 100%;
	li {
		display: table-cell;
		width: 250px;
	}
	h5 {
		font: 700 18px Open Sans;
		color: #e34507;
		text-transform: uppercase;
	}
}
.footLinks {
	display: block;
	margin: 10px 0 0 0;
	li {
		display: list-item;
		padding: 5px 0;
	}
	a {
		color: #fff;
		text-decoration: none;
		font: normal 14px Open Sans;
		&:hover {
			text-decoration: underline;
		}
	}
}
.payments {
	float: right;
	padding: 30px 0;
}
.copyright {
	font: normal 13px/90px Open Sans;
	color: #6a6a6a;
}
.footMenu {
	float: right;
	margin: 0 15px;
	li {
		display: inline-block;
		margin: 0 15px;
	}
	a {
		font: normal 13px/90px Open Sans;
		color: #fff;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.socialsFoot {
	display: block;
	li {
		display: list-item;
		padding: 5px 0;
	}
}