// @require:
// $icos - map-list of sprite options. Example: $icos: ( ico1 : (width, height, bg-position-y) );
// $spriteSocialsPath - path to the sprite file
$icos: (
	fb : (8px, 13px, 0px),
	twit : (12px, 10px, -18px),
	pin : (13px, 13px, -33px),
	gplus : (13px, 11px, -51px),
	rss : (11px, 11px, -67px),
);
$spriteSocialsPath: '../img/socialsIco.png';
@each $key, $value in $icos {
	$width: nth($value, 1);
	$height: nth($value, 2);
	$bg-position-y: nth($value, 3);
	.ico-#{$key} {
		display: block;
		background: url($spriteSocialsPath) no-repeat;
		width: $width;
		height: $height;
		background-position: 0 $bg-position-y;
	}
}