@import "compass/layout/sticky-footer";
//#iehax #madskills

@mixin sticky-flexbox() {
     body {
        min-height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    section[role="main"] {
        display: block;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex: 1;
    }
    html, body {
        height: auto;
    }
    section[role="main"] {
        clear: both;
        min-height: auto;
        margin-bottom: 0;
    }
    section[role="main"] #layoutFooter {
        height: 0px
    }
    footer {
          clear: both;
          position: relative;
          height: auto;
    }
}

@include sticky-footer(366px, 'section[role="main"]', '#layoutFooter', 'footer');

//chrome 29+
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
    @include sticky-flexbox();
}
//ff 8+
@media all and (-moz-images-in-menus:0) and (min-resolution: .001dpcm) {
    @include sticky-flexbox();
}