.testimonials {
	display: table;
	margin: 40px 0 80px 0;
	li {
		display: table-cell;
		width: 33%;
		padding: 0 25px 0 0;
	}
	.author {
		.testimonialPic {
			margin: 5px 0;
		}
		h5 {
			font: normal 16px Open Sans;
			color: #000;
			vertical-align: top;
			display: inline-block;
			margin: 18px 5px;
			span {
				color: #b1b1b1;
			}
		}
	}
	blockquote {
		font: 300 14px Open Sans;
		color: #575757;
		vertical-align: middle;
		display: inline-block;
		&:before {
			content: "\" ";
			font-style: italic;
		}
		&:after {
			content: " \"";
			font-style: italic;
		}
	}
}