@import "compass/css3";
@import "animate";

@include keyframes(rocket) {
	0% {
		left: 100px;
		top: 82px;
	}
	100% {
		left: 160px;
		top: 22px;
	}
}
@include keyframes(opacityBlink) {
	0% {
		opacity: 0.6;
	}
	25% {
		opacity: 0.8;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0.8;
	}
	100% {
		opacity: 0.6;
	}
}
@include keyframes(opacityBlinkLite) {
	0% {
		opacity: 0.8;
	}
	25% {
		opacity: 0.9;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0.9
	}
	100% {
		opacity: 0.8;
	}
}
@include keyframes(rotateUfoLeft) {
	0% {
		@include transform(rotate(-57deg));
	}
	50% {
		@include transform(rotate(-56deg));
	}
	100% {
		@include transform(rotate(-58deg));
	}
}
@include keyframes(rotateUfo) {
	0% {
		@include transform(rotate(0deg));
	}
	50% {
		@include transform(rotate(-1deg));
	}
	100% {
		@include transform(rotate(1deg));
	}
}

.stars {
	@include animation(opacityBlinkLite 0.5s infinite);
}
.rocket {
	@include animation(rocket 2s);
}
.ufo-left {
	@include animation(rotateUfoLeft 0.5s linear infinite);
}
.ufo-right {
	@include animation(rotateUfo 0.5s linear infinite);
}


.alien,
.letter-text {
	@include animation(opacityBlink 0.5s infinite);
}
.wave-bot-top,
.wave-top-bot {
	@include animation(opacityBlink 0.5s infinite 0.5s);
}
.wave-bot-mid,
.wave-top-mid {
	@include animation(opacityBlink 0.5s infinite 1s);
}
.wave-bot-bot,
.wave-top-top {
	@include animation(opacityBlink 0.5s infinite 1.5s);
}