//get help block
.getHelp {
	padding: 120px 0;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	overflow: hidden;
	.left,
	.mid,
	.right {
		display: inline-block;
		width: 32%;
		position: relative;
		vertical-align: top;
	}
	.deepBtn {
		left: 5%;
	}
	.ufo-left,
	.wave-bot-top,
	.wave-bot-mid,
	.wave-bot-bot,
	.wave-top-top,
	.wave-top-mid,
	.wave-top-bot,
	.question-top,
	.question-mid,
	.question-bot,
	.light-left,
	.ufo-right,
	.light-right,
	.alien,
	.letter,
	.letter-text,
	.incredible {
		background: url(../img/getHelpIco.png) no-repeat;
		display: block;
		position: absolute;
		opacity: 0;
	}
	$getHelp : (
		alien : 		(0, 24px, 22px, 23px, 186px),
		incredible : 	(-72px, 96px, 33px, -51px, 194px),
		letter : 	(-155px, 65px, 48px, 110px, 121px),
		light-right : 	(-253px, 121px, 145px, 21px, 90px),
		light-left : 	(-253px, 121px, 145px, 30px, 126px),
		question-bot : 	(-448px, 24px, 18px, -16px, 58px),
		question-mid : 	(-516px, 18px, 18px, -45px, 80px),
		question-top : 	(-584px, 15px, 23px, -44px, 120px),
		ufo-left : 			(-657px, 136px, 85px, -18px, 56px),
		ufo-right : 			(-657px, 136px, 85px, -28px, 142px),
		wave-bot-bot : 	(-792px, 20px, 36px, 58px, 30px),
		wave-bot-mid : 	(-878px, 15px, 25px, 58px, 39px),
		wave-bot-top : 	(-953px, 8px, 12px, 61px, 47px),
		wave-top-bot : 	(-1015px, 9px, 11px, -24px, 194px),
		wave-top-mid : 	(-1076px, 15px, 26px, -36px, 195px),
		wave-top-top : 	(-1152px, 19px, 36px, -46px, 200px),
	);
	@each $key, $value in $getHelp {
		$bg-position-y: nth($value, 1);
		$width: nth($value, 2);
		$height: nth($value, 3);
		$top: nth($value, 4);
		$left: nth($value, 5);
		.#{$key} {
			width: $width;
			height: $height;
			background-position: 0 $bg-position-y;
			top: $top;
			left: $left;
		}
	}
	.ufo-left {
		@include transform(rotate(-57deg));
		opacity: 1;
	}
	.question-top,
	.question-mid,
	.question-bot,
	.ufo-right,
	.light-left,
	.light-right,
	.incredible,
	.ufo-left,
	.letter {
		opacity: 1;
	}
	.light-left {
		@include transform(scaleX(-1));	
	}
}
