.anim {
	&.about {
		.rocket {
			background: url(../img/rocket.png) no-repeat;
			width: 208px;
			height: 79px;
			position: absolute;
			left: 160px;
			top: 22px;
		}
		.stars {
			background: url(../img/stars.png) no-repeat;
			width: 505px;
			height: 99px;
			position: absolute;
			left: 2px;
			top: 5px;
		}
	}
}