// https://github.com/ericam/compass-animation
@import "animate";
@include keyframes(smoke) {
	0% {
		bottom: -10px;
	}
	100% {
		bottom: -20px;
	}
}
@include keyframes(earth) {
	0% {
		bottom: -140px;
	}
	100% {
		bottom: -150px;
	}
}
@include keyframes(stars-left) {
	0% {
		left: -20%;
		top: -170px;
	}
	100% {
		left: -10%;
		top: 20px;
	}
}
@include keyframes(stars-right) {
	0% {
		left: 60%;
		top: -120px;
	}
	100% {
		left: 55%;
		top: 0px;
	}
}
@include keyframes(rocket) {
	0% {
		bottom: -10px;
	}
	100% {
		bottom: 50px;
	}
}
@include keyframes(rotateY) {
	0% {
		@include transform(rotateY(0deg));
	}
	50% {
		@include transform(rotateY(180deg));
	}
	100% {
		@include transform(rotateY(360deg));
	}
}
@include keyframes(shaking) {
	0% {
		left: 0.5%;
	}
	100% {
		left: -0.5%;
	}
}
@include keyframes(shaking-meteor) {
	0% {
		left: 16.5%;
	}
	100% {
		left: 18.5%;
	}
}
@include keyframes(shaking-rotate) {
	0% {
		top: 24px;
		left: -1px;
	}
	100% {
		top: 26px;
		left: 1px;
	}
}
@include keyframes(shaking-rotate2) {
	0% {
		top: 14px;
		left: -1px;
	}
	100% {
		top: 16px;
		left: 1px;
	}
}
@include keyframes(shaking-rotate3) {
	0% {
		bottom: 74px;
		left: 37.5%;
	}
	100% {
		bottom: 76px;
		left: 38.5%;
	}
}
@include keyframes(blinking) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@include keyframes(opacityBlink) {
	0% {
		opacity: 0.6;
	}
	25% {
		opacity: 0.8;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0.8
	}
	100% {
		opacity: 0.6;
	}
}
@include keyframes(rotateX) {
	0% {
		@include transform(rotateX(0deg));
	}
	100% {
		@include transform(rotateY(320deg));
	}
}
@include keyframes(pen) {
	0% {
		left: -8px;
	}
	100% {
		left: 8px;
	}
}
@include keyframes(road) {
	0% {
		top: -10px
	}
	100% {
		top: -27px;
	}
}
@include keyframes(road1) {
	0% {
		left: -20px
	}
	100% {
		left: -7px;
	}
}
@include keyframes(road2) {
	0% {
		left: 30px
	}
	100% {
		left: 22px;
	}
}
@include keyframes(bril) {
	0% {
		background: url(../img/bril/brilliant-1.png) no-repeat;
		opacity: 0.8;
	}
	100% {
		background: url(../img/bril/brilliant-2.png) no-repeat;
	}
}
@include keyframes(ufo) {
	0% {
		top: -50px;
		left: -75px;
	}
	100% {
		top: 104px;
		left: 86px;
	}
}
@include keyframes(ufo-light) {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}
@include keyframes(bril-light) {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 0 0;
	}
}
@include keyframes(shaking-hands) {
	0% {
		@include transform(rotate(0deg));
	}
	50% {
		@include transform(rotate(2deg));
	}
	100% {
		@include transform(rotate(-2deg));
	}
}
@include keyframes(writing) {
	0% {
		top: -36px;
		left: 41px;
	}
	100% {
		top: -30px;
		left: 54px;
	}
}