// @require:
// $icos - map-list of sprite options. Example: $icos: ( ico1 : (width, height, bg-position-y) );
// $spriteHiwPath
$shape: 114px, 114px;
$icos: (
	resume : (48px, 60px, -63px),
	cv : (48px, 48px, -179px),
	letters : (56px, 38px, -273px),
);
$icos-hover: (
	resume : (46px, 58px, 0px),
	cv : (46px, 46px, -128px),
	letters : (54px, 36px, -232px),
);
$spriteHiwPath: '../img/servicesIco.png';
@each $key, $value in $icos {
	$width: nth($value, 1);
	$height: nth($value, 2);
	$bg-position-y: nth($value, 3);
	.ico-#{$key} {
		display: block;
		width: nth($shape,1);
		height: nth($shape,2);
		border: 1px solid #bfbfbf;
		border-radius: 50%;
		margin: 0 auto;
		span {
			display: block;
			background: url($spriteHiwPath) no-repeat;
			position: relative;
			background-position: 0 $bg-position-y;
			width: $width;
			height: $height;
			top: (nth($shape,2) - $height)/2;
			left: (nth($shape,1) - $width)/2;
		}
	}
}
.servicesList {
	display: table;
	width: 100%;
	margin: 45px 0;
	li {
		display: table-cell;
		width: 300px;
		padding: 0 90px;
		cursor: pointer;
		&:first-child {
			padding: 0;
		}
		&:last-child {
			padding: 0;
		}
		&:hover {
			h4 {
				color: #237dac;
			}
			p {
				color: #666;
			}
		}
		&:hover {
			@each $key, $value in $icos-hover {
				$width: nth($value, 1);
				$height: nth($value, 2);
				$bg-position-y: nth($value, 3);
				.ico-#{$key} {
					display: block;
					width: nth($shape,1);
					height: nth($shape,2);
					border: 1px solid #bfbfbf;
					border-radius: 50%;
					background: #7f55a9;
					margin: 0 auto;
					@include animation(rotateY 0.4s alternate-reverse);
					span {
						display: block;
						background: white url($spriteHiwPath) no-repeat;
						position: relative;
						background-position: 0 $bg-position-y;
						width: $width;
						height: $height;
						top: (nth($shape,2) - $height)/2;
						left: (nth($shape,1) - $width)/2;
					}
				}
			}
		}
	}
	h4 {
		text-align: center;
		font: 300 30px/30px Open Sans;
		color: #3b8fbf;
		margin: 10px 0;
		span {
			display: block;
			font-size: 14px;
			line-height: 14px;
		}
	}
	p {
		text-align: center;
		font: 300 18px Open Sans;
		color: #777;
	}
}