.sliderControl#radio1:checked ~ .sliderList {
	left: 0px;
}
.sliderControl#radio1:not(:checked) ~ .sliderList li.slide1 {
//	position: absolute;
}
.sliderControl#radio1:checked ~ .sliderList li.slide1 {
	display: table-cell;
	position: relative;	
}
.sliderControl#radio2:checked ~ .sliderList {
	left: -990px;
}
.sliderControl#radio2:checked ~ .sliderList li.slide1 {
	display: table-cell;
}
.sliderControl#radio2:not(:checked) ~ .sliderList li.slide2 {
//	position: absolute;
}
.sliderControl#radio2:checked ~ .sliderList li.slide2 {
	display: table-cell;
//	left: 990px;
//	position: relative;
}
.sliderControl#radio3:checked ~ .sliderList {
	left: -1980px;
}
.sliderControl#radio3:checked ~ .sliderList li.slide1 {
	display: table-cell;
}
.sliderControl#radio3:checked ~ .sliderList li.slide2 {
	display: table-cell;
}
.sliderControl#radio3:not(:checked) ~ .sliderList li.slide3 {
//	position: absolute;
}
.sliderControl#radio3:checked ~ .sliderList li.slide3 {
	display: table-cell;
//	left: 1980px;
//	position: relative;
}
.sliderList {
	position: relative;
	@include transition(left 0.3s);
}
.sliderList li {
	display: none;
	width: 990px;
	position: relative;
}
.sliderControl {
	display: none;
	&#radio2 + label {
		left: 46%;
	}
	&#radio3 + label {
		left: 48%;
	}
}
.sliderControl + label {
	position: absolute;
	left: 44%;
	top: 310px;
	z-index: 3;
	span {
		display: inline-block;
		width: 14px;
		cursor: pointer;
		height: 14px;
		background: #5b358c;
		border: 1px solid #4d287e;
		border-radius: 50%;
		@include box-sizing(border-box);
	}
}
.sliderControl:checked + label {
	span {
		background-color: rgb(138,95,186); // Old browsers
		@include filter-gradient(#8a5fba, #6c449d, vertical); // IE6-9
		@include background-image(linear-gradient(top, rgba(138,95,186,1) 0%,rgba(108,68,157,1) 100%));
		border: 1px solid #4d287e;
	}
}