// @require:
// $icos - map-list of sprite options. Example: $icos: ( ico1 : (width, height, bg-position-y) );
// $spriteHiwPath
// animation.scss
$shape: 70px, 70px;
$icos: (
	pen : (0, 39px, 39px),
	road : (-44px, 44px, 69px),
	meteor : (-118px, 43px, 30px),
	stars : (-153px, 56px, 58px),
	light : (-216px, 32px, 37px),
	ufo : (-258px, 39px, 18px),
	antenna : (-281px, 34px, 44px),
	wave1 : (-330px, 6px, 8px),
	wave2 : (-343px, 10px, 11px),
	wave3 : (-359px, 13px, 17px),
	road1 : (-381px, 54px, 38px),
	road2 : (-424px, 54px, 52px),
	brilliant : (-481px, 42px, 42px),
	alien : (-528px, 55px, 69px),
	hand1 : (-602px, 56px, 40px),
	hand2 : (-647px, 56px, 37px),
	letter : (-689px, 45px, 26px),
	pencil : (-720px, 25px, 25px),
);
$spriteHiwPath: '../img/whyIco.png';
.whyChooseUs {
		.shape {
			display: block;
			width: nth($shape,1);
			height: nth($shape,2);
			background: #7f55a9;
			border-radius: 50%;
			margin: 20px auto;
			overflow: hidden;
		}
	@each $key, $value in $icos {
		$bg-position-y: nth($value, 1);
		$width: nth($value, 2);
		$height: nth($value, 3);
		.ico-#{$key} {
			display: block;
			background: url($spriteHiwPath) no-repeat;
			position: relative;
			background-position: 0 $bg-position-y;
			width: $width;
			height: $height;
		}
	}
	.ico-pen {
		top: 8px;
		left: 8px;
	}
	.ico-road {
		top: -27px;
		left: 24px;
	}
	.ico-meteor {
		top: 17px;
		left: 13px;
		z-index: 2;
	}
	.ico-stars {
		top: -26px;
		left: 10px;
	}
	.ico-light {
		top: 24px;
		left: 23px;
		z-index: 2;
	}
	.ico-ufo {
		top: -25px;
		left: 11px;
	}
	.ico-antenna {
		top: 16px;
		left: 15px;
	}
	.ico-wave1 {
		top: -23px;
		left: 42px;
	}
	.ico-wave2 {
		top: -35px;
		left: 43px;
	}
	.ico-wave3 {
		top: -52px;
		left: 45px;
	}
	.ico-road1 {
		top: 19px;
		left: -7px;
	}
	.ico-road2 {
		top: -21px;
		left: 22px;
	}
	.ico-brilliant {
		top: 17px;
		left: 15px;
	}
	.ico-alien {
		top: 12px;
		left: 12px;
	}
	.ico-pencil {
		top: -36px;
		left: 41px;
		z-index: 2;
	}
	.ico-letter {
		top: -46px;
		left: 25px;
	}
	.ico-hand1 {
		top: 13px;
		left: -2px;
	}
	.ico-hand2 {
		top: -26px;
		left: 21px;
	}
	.why {
		display: table;
		width: 100%;
		border-spacing: 15px 0px;
		li {
			display: table-cell;
			cursor: pointer;
			vertical-align: top;
			&:hover {
					.shape {
						padding: 5px;
						margin: 15px auto;
						position: relative;
					}
					h4 {
						color: #000;
					}
					p {
						color: #575757;
					}
					.ico-light {
						@include animation(blinking 0.3s infinite);
					}
					.ico-wave1 {
						opacity: 0;
						@include animation(blinking 0.5s infinite 0.5s);	
					}
					.ico-wave2 {
						opacity: 0;
						@include animation(blinking 0.5s infinite 1s);	
					}
					.ico-wave3 {
						opacity: 0;
						@include animation(blinking 0.5s infinite 1.5s);	
					}
					.ico-meteor {
						@include animation(shaking-meteor 0.2s infinite);
					}
					.ico-pen {
						@include animation(pen 0.5s);
					}
					.ico-road {
						@include animation(road 0.5s);
					}
					.ico-road1 {
						@include animation(road1 0.5s);
					}
					.ico-road2 {
						@include animation(road2 0.5s);
					}
					.ico-brilliant {
						@include animation(bril 0.4s infinite);
					}
					.ico-hand1,
					.ico-hand2 {
						@include animation(shaking-hands 0.4s infinite);
					}
					.ico-alien {
						height: 63px;
						@include animation(shaking-hands 0.4s infinite);
						z-index: 0;
					}
					.ico-pencil {
						@include animation(writing 0.8s infinite);
						z-index: 2;
					}
				}
			}
		h4 {
			width: 80%;
			font: normal 16px Open Sans;
			text-align: center;
			color: #333;
			margin: 0 auto;
			height: 70px;
		}
		p {
			width: 95%;
			text-align: center;
			margin: 0 auto;
			color: #777;
			font: 300 14px Open Sans;
		}
	}
}
