@import "animate";

@include keyframes(zoom-in) {
	0% {
		@include scale(0.1);
	}
	100% {
		@include scale(1);
	}
}
@include keyframes(lights) {
	0% {
		opacity: 0;
	}
	65% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@include keyframes(ufo-1) {
	0% {
		top: 84px;
		left: -9px;
	}
	100% {
		top: 184px;
		left: 91px;
	}
}
@include keyframes(ufo-2) {
	0% {
		top: 60px;
	}
	100% {
		top: 147px;
	}
}
@include keyframes(ufo-3) {
	0% {
		top: 81px;
		left: 328px;
	}
	100% {
		top: 181px;
		left: 228px;
	}
}