$service : (
	thankYouLetter : (0, 89px, 77px, 209px, 132px),
	ufo-1 : (-82px, 34px, 28px, 184px, 91px),
	ufo-2 : (-115px, 26px, 12px, 147px, 155px),
	ufo-3 : (-132px, 43px, 33px, 181px, 228px),
	letter : (-170px, 88px, 72px, 220px, 126px),
	light-1 : (-247px, 92px, 44px, 200px, 109px),
	light-2 : (-296px, 76px, 86px, 155px, 126px),
	light-3 : (-387px, 123px, 73px, 200px, 126px),
	stars : (-465px, 417px, 194px, 131px, -35px)
);
$serviceIcoPath : '../../img/coverTyLetterIco.png';
.underHeaderBig.service {
		@each $key, $value in $service {
		$bg-position-y: nth($value, 1);
		$width: nth($value, 2);
		$height: nth($value, 3);
		$top: nth($value, 4);
		$left: nth($value, 5);
		.#{$key} {
			background: url($serviceIcoPath) no-repeat;
			position: absolute;
			width: $width;
			height: $height;
			background-position: 0 $bg-position-y;
			top: $top;
			left: $left;
		}
	}
	.stars {
		@include animation(zoom-in 1s);
	}
	.light-1,
	.light-2,
	.light-3 {
		@include animation(lights 2s);
	}
	.ufo-1 {
		@include animation(ufo-1 1s);
	}
	.ufo-2 {
		@include animation(ufo-2 1s);
	}
	.ufo-3 {
		@include animation(ufo-3 1s);
	}
}
.underHeaderBig.service.thankyou {
	.light-1,
	.light-2,
	.light-3 {
		@include animation(lights 5s infinite);
	}
	.light-3 {
		height: 58px;
	}
}